/dissertation/vscode/
/dissertation/*.aux
/dissertation/main.log
/dissertation/main.bcf
/dissertation/main.bbl
/dissertation/main.bbl-SAVE-ERROR
/dissertation/main.bcf
/dissertation/main.blg
/dissertation/main.fdb_latexmk
/dissertation/main.fls
/dissertation/main.out
/dissertation/main.toc
/dissertation/main.synctex.gz